body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

a {
	color: #0275D8;
	cursor: pointer;
}

a:hover {
	color: #025AA5;
}

#container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
}

#header h1 {
	font-family: 'Merriweather', serif;
}

#subreddit-name {
	font-family: 'Happy Monkey', cursive;
}

.subreddit-filter-input {
	outline: transparent;
	border: 0;
	border-bottom: 1px solid #0275D8;
	width: 225px;
	font-size: 18px;
}

.subreddit-search button {
	background-color: #0275D8;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	border: 3px solid #0275D8;
}

.subreddit-search button:hover {
	cursor: pointer;
	background-color: #025AA5;
}

#reddit-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post {
	width: 90%;
	padding: 0 5%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

.image-container {
	margin-right: 20px;
}

.user_post_info {
	text-align: left;
}

.post-title {
	width: 100%;
	margin: 0 auto 20px;
	font-family: 'Merriweather', serif;
	font-size: 24px;
}

#add-more-container {
	margin-top: 25px;
}

#add-more-posts {
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 15px;
	font-weight: bold;
	color: white;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	text-decoration: none;
}

#add-more-posts:hover {
	background-color: #449d44;
	border-color: #398439;
}
